{% extends "base.html" %}
{% load i18n %}

{% block cardContent %}

<div class="create-event">
  <h1 class="card__title">{% trans "Create event" %}</h1>

  <div class="card__text">
    <form action="" method="post">
      {% csrf_token %}
      <table>
        {% for field in form %}
        <tr class="{{ field.name }}">
          <th>
            {{ field.label_tag}}
          </th>
          <td>
            {{ field }}
          </td>
        </tr>

        {% endfor %}
        <tr>
          <th><label>Tidspunkt</label></th>
          <td>
            {% for time in times %}
            {{ time.as_p }}
            {% endfor %}
          </td>
        </tr>

      </table>
      <button type="submit">{% trans "Create" %}</button>
    </form>
  </div>
</div>

{% endblock %}
