.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: -20px;
  &__logo {
    width: 264px;
    padding-right: 40px;
  }
  &__controls {
    display: none;
    font-style: italic;
    font-weight: 100;
    flex: 1;
    flex-basis: 400px;
  }
  &__controls.js-active {
    display: block;
    background-color: #aaa;
    padding: 20px 20px 20px 0;
  }
  &__link {
    padding-left: 20px;
    color: inherit;
    text-decoration: none;
    display: block;
  }
  &__link img {
    vertical-align: middle;
    display: inline-block;
    margin-top: -1px;
  }
  &__burger div {
    height: 3px;
    background-color: #aaa;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 30px;
  }
}
