{% extends "base.html" %}

{% block "content" %}


  <div class="card">
    <div class="card__layout">
        <div class="card__media">

        </div>
        <div class="card__text">
            <div class="card__header">
                <div class="card__date">
                    torsdag den 10. januar kl. 19.00
                </div>
                <div class="card__place card__link">
                    <a href="/locations/109?locale=da">Bogcaféen Halmtorvet</a>
                </div>
                <div class="card__util card__link card__more">
                    <a href="/events/5276.ics?locale=da">Download til kalender (ICS)</a>
                </div>
            </div>
            <div class="card__main">
                <h1 class="card__title">
                    VA-Møde
                </h1>
                Vesterbroanarkisterne mødes igen for at organisere aktioner, lave propaganda og gør grin med magthaverne,
                <div class="card__more">
                    <p>Vesterbroanarkisterne mødes igen for at organisere aktioner, lave propaganda og gør grin med magthaverne,</p>
                </div>
            </div>
        </div>
    </div>
    <a class="card__toggle js-toggle-card" href="/events/5276?locale=da"></a>
</div>


<div class="page-container">
      <h1 class="title title--space">Det sker <span class="title__bold">også i dag </span></h1>
    <div class="timeline">
        <div class="timeline__event timeline__event--color3 timeline__event--right" data-text="Yoga med Natalie" style="width: 17.812499999999996%; margin-left: 13.437500000000002%">
</div>        <div class="timeline__event timeline__event--color1 " data-text="Biograf i Folkets Hus kl 16.00" style="width: 18.75%; margin-left: 50.0%">
          Biograf i Folkets Hus ...
</div>        <div class="timeline__event timeline__event--color1 " data-text="Bogcaféen Barrikaden + Distro 61" style="width: 18.75%; margin-left: 50.0%">
          Bogcaféen Barrikaden +...
</div>        <div class="timeline__event timeline__event--color3  timeline__event--left" data-text="Yin Flow Yoga" style="width: 8.125000000000004%; margin-left: 56.25%">
</div>        <div class="timeline__event timeline__event--color3  timeline__event--left" data-text="Taekwondo" style="width: 7.187499999999991%; margin-left: 64.375%">
</div>        <div class="timeline__event timeline__event--color2  timeline__event--left" data-text="Mandagsmøde" style="width: 12.5%; margin-left: 68.75%">
</div>        <div class="timeline__event timeline__event--color1  timeline__event--left" data-text="Tai chi og Qi Gong med Bo " style="width: 12.5%; margin-left: 75.0%">
</div>        <div class="timeline__event timeline__event--color3 timeline__event--right" data-text="Tai Chi med Viggo " style="width: 9.062499999999996%; margin-left: 12.5%">
</div>        <div class="timeline__event timeline__event--color3 timeline__event--right" data-text="Pop-up legestue for børn" style="width: 12.5%; margin-left: 43.75%">
</div>        <div class="timeline__event timeline__event--color3  timeline__event--left" data-text="Vinjasa yoga med Pernille " style="width: 6.25%; margin-left: 59.06249999999999%">
</div>        <div class="timeline__event timeline__event--color2  timeline__event--left" data-text="Yoga and Dance" style="width: 18.75%; margin-left: 68.75%">
</div>        <div class="timeline__event timeline__event--color2  timeline__event--left" data-text="Feministisk lige uger / LGBT selvforsvar ulige uger" style="width: 8.125000000000004%; margin-left: 68.75%">
</div>        <div class="timeline__event timeline__event--color2  timeline__event--left" data-text="Free style drum jam med dans" style="width: 4.374999999999996%; margin-left: 89.375%">
</div>        <div class="timeline__event timeline__event--color3 timeline__event--right" data-text="Yoga med Fanny" style="width: 10.625000000000002%; margin-left: -4.375000000000001%">
</div>        <div class="timeline__event timeline__event--color3 timeline__event--right" data-text="Tai chi og Qi Gong med Bo" style="width: 12.5%; margin-left: 6.25%">
</div>        <div class="timeline__event timeline__event--color1  timeline__event--left" data-text="Yin yoga med Laura" style="width: 7.187499999999991%; margin-left: 56.25%">
</div>        <div class="timeline__event timeline__event--color1 " data-text="BumZen Community Kitchen" style="width: 25.0%; margin-left: 62.5%">
          BumZen Community Kitchen
</div>        <div class="timeline__event timeline__event--color3  timeline__event--left" data-text="AFROFONKO" style="width: 12.5%; margin-left: 64.375%">
</div>        <div class="timeline__event timeline__event--color2 " data-text="Små stjerner (forældrebørnehave)" style="width: 37.5%; margin-left: 12.5%">
          Små stjerner (forældre...
</div>        <div class="timeline__event timeline__event--color2  timeline__event--left" data-text="Yoga med Ida" style="width: 10.624999999999996%; margin-left: 51.87500000000001%">
</div>        <div class="timeline__event timeline__event--color1 " data-text="Bogcaféen Barrikaden + Distro 61" style="width: 25.0%; margin-left: 56.25%">
          Bogcaféen Barrikaden +...
</div>        <div class="timeline__event timeline__event--color3  timeline__event--left" data-text="Folkekøkken" style="width: 12.5%; margin-left: 68.75%">
</div>        <div class="timeline__event timeline__event--color1  timeline__event--left" data-text="Slow-Jam folkedans musik" style="width: 12.5%; margin-left: 75.0%">
</div>        <div class="timeline__event timeline__event--color3 timeline__event--right" data-text="Tai Chi og Qi Gong med Bo" style="width: 10.624999999999996%; margin-left: 1.8750000000000044%">
</div>        <div class="timeline__scale">
            <div class="timeline__min">
                08:00
            </div>
            <div class="timeline__max">
                24:00
            </div>
            <div class="timeline__now" id="timeline__now"></div>
        </div>
    </div>

</div>
<div class="page-container">
  <div class="table">
      <div class="table__day">
        <div class="table__header">
          torsdag d. 10. januar
        </div>
            <a href="/events/5276?locale=da" class="table__event">
              <div class="table__time">
                19:00
              </div>
              <div class="table__title">
                VA-Møde
              </div>
              <div class="table__place">
                Bogcaféen Halmtorvet
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          søndag d. 13. januar
        </div>
            <a href="/events/5266?locale=da" class="table__event">
              <div class="table__time">
                13:00
              </div>
              <div class="table__title">
                Spildag i Folkets Hus - Kom og lær et nyt spil!
              </div>
              <div class="table__place">
                Folkets Hus
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          mandag d. 14. januar
        </div>
            <a href="/events/5600?locale=da" class="table__event">
              <div class="table__time">
                18:00
              </div>
              <div class="table__title">
                Det Bløde Rum - Sikkerhed og selvbeskyttelse
              </div>
              <div class="table__place">
                BumZen
              </div>
            </a>
            <a href="/events/5602?locale=da" class="table__event">
              <div class="table__time">
                18:00
              </div>
              <div class="table__title">
                Opstartsmøde i Børnemagt
              </div>
              <div class="table__place">
                Folkets Hus
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          tirsdag d. 15. januar
        </div>
            <a href="/events/5598?locale=da" class="table__event">
              <div class="table__time">
                15:00
              </div>
              <div class="table__title">
                Manifestation #5: Support the children in Sjælsmark
              </div>
              <div class="table__place">
                Gammeltorv/Nytorv
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          onsdag d. 16. januar
        </div>
            <a href="/events/5271?locale=da" class="table__event">
              <div class="table__time">
                16:30
              </div>
              <div class="table__title">
                Politiske Folkekøkken - Hvordan kan man bruge musik politisk?
              </div>
              <div class="table__place">
                Mellemfolkeligt Samvirke
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          torsdag d. 17. januar
        </div>
            <a href="/events/5608?locale=da" class="table__event">
              <div class="table__time">
                17:00
              </div>
              <div class="table__title">
                Politisk Folkekøkken - frivilligmøde
              </div>
              <div class="table__place">
                Mellemfolkeligt Samvirke
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          lørdag d. 19. januar
        </div>
            <a href="/events/5277?locale=da" class="table__event">
              <div class="table__time">
                12:00
              </div>
              <div class="table__title">
                Supekøkken af Food Not Bombs Cph.
              </div>
              <div class="table__place">
                Kafa-X
              </div>
            </a>
            <a href="/events/5278?locale=da" class="table__event">
              <div class="table__time">
                12:00
              </div>
              <div class="table__title">
                Huer, vanter og sokker til gadens folk.
              </div>
              <div class="table__place">
                Kafa-X
              </div>
            </a>
            <a href="/events/5258?locale=da" class="table__event">
              <div class="table__time">
                14:00
              </div>
              <div class="table__title">
                Repair Café Østerbro
              </div>
              <div class="table__place">
                think.dk
              </div>
            </a>
            <a href="/events/5239?locale=da" class="table__event">
              <div class="table__time">
                20:00
              </div>
              <div class="table__title">
                UK Subs + Criminal Mind + Trench
              </div>
              <div class="table__place">
                Kulturhus Valby
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          søndag d. 20. januar
        </div>
            <a href="/events/5607?locale=da" class="table__event">
              <div class="table__time">
                10:30
              </div>
              <div class="table__title">
                Fællesinitiativ mod Racisme og Diskrimination- København
              </div>
              <div class="table__place">
                Mellemfolkeligt Samvirke
              </div>
            </a>
            <a href="/events/5597?locale=da" class="table__event">
              <div class="table__time">
                13:00
              </div>
              <div class="table__title">
                TRO PÅ OS: Menneskekæde om Christiansborg
              </div>
              <div class="table__place">
                Christiansborg Folketinget
              </div>
            </a>
            <a href="/events/5288?locale=da" class="table__event">
              <div class="table__time">
                20:00
              </div>
              <div class="table__title">
                Fuck Monday Fest
              </div>
              <div class="table__place">
                Ungdomshuset
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          mandag d. 21. januar
        </div>
            <a href="/events/5603?locale=da" class="table__event">
              <div class="table__time">
                19:00
              </div>
              <div class="table__title">
                Infomøde #2 // Info Meeting #2
              </div>
              <div class="table__place">
                Onkel Dannys Plads
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          tirsdag d. 22. januar
        </div>
            <a href="/events/5291?locale=da" class="table__event">
              <div class="table__time">
                17:00
              </div>
              <div class="table__title">
                Kampagnelaunch: Rettigheder før profit - stop ISDS
              </div>
              <div class="table__place">
                Verdenskulturcentret
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          onsdag d. 23. januar
        </div>
            <a href="/events/5273?locale=da" class="table__event">
              <div class="table__time">
                16:30
              </div>
              <div class="table__title">
                Politisk folkekøkken - Hvad gør vi ved uligheden?
              </div>
              <div class="table__place">
                Mellemfolkeligt Samvirke
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          fredag d. 25. januar
        </div>
            <a href="/events/5289?locale=da" class="table__event">
              <div class="table__time">
                19:00
              </div>
              <div class="table__title">
                Black Cross Fest
              </div>
              <div class="table__place">
                Ungdomshuset
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          lørdag d. 26. januar
        </div>
            <a href="/events/5296?locale=da" class="table__event">
              <div class="table__time">
                20:00
              </div>
              <div class="table__title">
                Støttefest for Det Bløde Rum
              </div>
              <div class="table__place">
                BumZen
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          søndag d. 27. januar
        </div>
            <a href="/events/5599?locale=da" class="table__event">
              <div class="table__time">
                12:00
              </div>
              <div class="table__title">
                PÅ DEN ANDEN SIDE AF VALBY BAKKE - OG HJEM IGEN
              </div>
              <div class="table__place">
                Forum Metro Station
              </div>
            </a>
            <a href="/events/5267?locale=da" class="table__event">
              <div class="table__time">
                13:00
              </div>
              <div class="table__title">
                Reception: anarkistiske &amp; syndikalistiske kvinder
              </div>
              <div class="table__place">
                Bogcaféen Halmtorvet
              </div>
            </a>
            <a href="/events/5163?locale=da" class="table__event">
              <div class="table__time">
                13:00
              </div>
              <div class="table__title">
                Cryptohagen
              </div>
              <div class="table__place">
                Café Mellemrummet
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          onsdag d. 30. januar
        </div>
            <a href="/events/5274?locale=da" class="table__event">
              <div class="table__time">
                16:30
              </div>
              <div class="table__title">
                Politiske folkekøkken - Kan vi forbruge os til en bedre verden?
              </div>
              <div class="table__place">
                Mellemfolkeligt Samvirke
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          onsdag d.  6. februar
        </div>
            <a href="/events/5275?locale=da" class="table__event">
              <div class="table__time">
                16:30
              </div>
              <div class="table__title">
                Politisk folkekøkken - Hvordan er det at få en ghetto-pakke?
              </div>
              <div class="table__place">
                Mellemfolkeligt Samvirke
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          lørdag d.  9. februar
        </div>
            <a href="/events/5240?locale=da" class="table__event">
              <div class="table__time">
                20:00
              </div>
              <div class="table__title">
                War Of Destruction + Razor Blades + Ond Tro + Direct Youth + Organiseret Støj
              </div>
              <div class="table__place">
                Underwerket
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          torsdag d. 14. februar
        </div>
            <a href="/events/5280?locale=da" class="table__event">
              <div class="table__time">
                06:00
              </div>
              <div class="table__title">
                OPEN CALL: Vil du blive en del af 2. salen i Folkets Hus? - Deadline for ansøgning 1. februar
              </div>
              <div class="table__place">
                Folkets Hus
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          fredag d. 15. februar
        </div>
            <a href="/events/5292?locale=da" class="table__event">
              <div class="table__time">
                19:00
              </div>
              <div class="table__title">
                Folkets Haus Birthday Rave!
              </div>
              <div class="table__place">
                Ungdomshuset
              </div>
            </a>
            <a href="/events/5219?locale=da" class="table__event">
              <div class="table__time">
                21:00
              </div>
              <div class="table__title">
                Folkets Haus fødselsdagsrave - 4 år!
              </div>
              <div class="table__place">
                Ukendt
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          tirsdag d. 19. februar
        </div>
            <a href="/events/5241?locale=da" class="table__event">
              <div class="table__time">
                20:00
              </div>
              <div class="table__title">
                The Casualties + Royal Air Force
              </div>
              <div class="table__place">
                Underwerket
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          onsdag d. 27. februar
        </div>
            <a href="/events/5606?locale=da" class="table__event">
              <div class="table__time">
                16:30
              </div>
              <div class="table__title">
                Political Community Kitchen - Can we make peace through music?
              </div>
              <div class="table__place">
                Mellemfolkeligt Samvirke
              </div>
            </a>
            <a href="/events/5605?locale=da" class="table__event">
              <div class="table__time">
                19:00
              </div>
              <div class="table__title">
                Paneldebat: Rojava og krigen i Syrien
              </div>
              <div class="table__place">
                Kapelvej 44
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          torsdag d.  9. maj
        </div>
            <a href="/events/5604?locale=da" class="table__event">
              <div class="table__time">
                10:00
              </div>
              <div class="table__title">
                Talk Town København 2019
              </div>
              <div class="table__place">
                Onkel Dannys Plads
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          torsdag d.  1. august
        </div>
            <a href="/events/5175?locale=da" class="table__event">
              <div class="table__time">
                14:00
              </div>
              <div class="table__title">
                PUNK I Æ PROVINS
              </div>
              <div class="table__place">
                Råværket
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          fredag d.  1. februar
        </div>
            <a href="/events/5112?locale=da" class="table__event">
              <div class="table__time">
                19:00
              </div>
              <div class="table__title">
                Folkekøkken Makvärket
              </div>
              <div class="table__place">
                Makvärket
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          søndag d. 24. februar
        </div>
            <a href="/events/5164?locale=da" class="table__event">
              <div class="table__time">
                13:00
              </div>
              <div class="table__title">
                Cryptohagen
              </div>
              <div class="table__place">
                Café Mellemrummet
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          fredag d.  1. marts
        </div>
            <a href="/events/5113?locale=da" class="table__event">
              <div class="table__time">
                19:00
              </div>
              <div class="table__title">
                Folkekøkken Makvärket
              </div>
              <div class="table__place">
                Makvärket
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          søndag d. 31. marts
        </div>
            <a href="/events/5165?locale=da" class="table__event">
              <div class="table__time">
                13:00
              </div>
              <div class="table__title">
                Cryptohagen
              </div>
              <div class="table__place">
                Café Mellemrummet
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          fredag d.  5. april
        </div>
            <a href="/events/5114?locale=da" class="table__event">
              <div class="table__time">
                19:00
              </div>
              <div class="table__title">
                Folkekøkken Makvärket
              </div>
              <div class="table__place">
                Makvärket
              </div>
            </a>
          </div>
      <div class="table__day">
        <div class="table__header">
          søndag d. 28. april
        </div>
            <a href="/events/5166?locale=da" class="table__event">
              <div class="table__time">
                13:00
              </div>
              <div class="table__title">
                Cryptohagen
              </div>
              <div class="table__place">
                Café Mellemrummet
              </div>
            </a>
          </div>
    </div>
  </div>
<div class="overlay" id="js-overlay"></div>

<script>
function closeAll() {
    document.getElementById('js-overlay').classList.remove('js-active');
    document.getElementById('js-lock-body').classList.remove('js-active');
    var allActive = document.getElementsByClassName('js-active');

    Array.prototype.forEach.call(allActive, function(el) {
            el.classList.remove('js-active');
            });
}

function ready(event) {
    function addEventListenerList(list, event, fn) {
        for (var i = 0, len = list.length; i < len; i++) {
            list[i].addEventListener(event, fn, false);
        }
    }

    function toggleActive() {
        var dataElement = this.dataset.element;
        var group = document.getElementsByClassName(this.dataset.group);
        var element = document.getElementById(dataElement);
        element.classList.toggle('js-active');
    }

    function toggleCard(event) {
        event.preventDefault();
        this.parentNode.classList.toggle('js-active')
            document.getElementById('js-overlay').classList.toggle('js-active');
        document.getElementById('js-lock-body').classList.toggle('js-active');
    }

    function toggleBurger() {
        var controls = document.getElementById('js-controls');
        controls.classList.toggle('js-active');
    }

    var listJsToggle = document.getElementsByClassName('js-toggle');
    addEventListenerList(listJsToggle, 'click', toggleActive);

    var listJsToggleCard = document.getElementsByClassName('js-toggle-card');
    addEventListenerList(listJsToggleCard, 'click', toggleCard);

    var now = new Date;
    var nowElement = document.getElementById('timeline__now');
    var timeAsNumber = now.getHours() + (now.getMinutes() / 60)
        nowElement.style.marginLeft = (timeAsNumber - 8) * 6.25 + '%'
        // clean up event binding
        window.removeEventListener('DOMContentLoaded', ready);
}
// bind to the load event
window.addEventListener('DOMContentLoaded', ready);

document.onkeydown = function(evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
        isEscape = (evt.key == "Escape" || evt.key == "Esc");
    } else {
        isEscape = (evt.keyCode == 27);
    }
    if (isEscape) {
        closeAll()
    }
};
</script>

{% endblock %}
